<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->

    @Styles.Render("~/Content/css/bootstrap.min.css")
    @Styles.Render("~/Content/css/font-awesome.min.css")
    @Styles.Render("~/Content/css/elegant-icons.css")
    @Styles.Render("~/Content/css/nice-select.css")
    @Styles.Render("~/Content/css/jquery-ui.min.css")
    @Styles.Render("~/Content/css/owl.carousel.min.css")
    @Styles.Render("~/Content/css/slicknav.min.css")
    @Styles.Render("~/Content/css/style.css")

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("head", required: false)
    @RenderSection("head", required: false)
</head>
<body>
    <!-- Page Preloder -->
    @*<div id="preloder">
            <div class="loader"></div>
        </div>*@
    <div style="width:90%;text-align:right;">

        <strong>  Hello: @Session["AdminId"]</strong>&nbsp;
        @Html.ActionLink("LogOut", "LogOut", "AdminHome")
    </div>
    <header class="header">

        <div class="container">
            <div class="row">

                <div class="col-lg-10">

                    <nav class="header__menu">
                        <ul>
                            <li><a href="./index.html"><img src="/Content/img/logo.png" alt=""></a></li>
                            <li @ViewBag.HomeActive>
                                @Html.ActionLink("Home", "Home", "AdminHome")
                            </li>
                            <li @ViewBag.CategoryActive>
                                @Html.ActionLink("Category", "Index", "ProductCategories")
                            </li>
                            <li @ViewBag.ProductActive>
                                @Html.ActionLink("Product", "Index", "Products")
                            </li>
                            <li @ViewBag.StockActive>
                                @Html.ActionLink("Stock", "Index", "Stocks")
                            </li>
                            <li @ViewBag.OrderActive>
                                @Html.ActionLink("Order", "Index", "Orders")
                            </li>
                            <li @ViewBag.UserActive>
                                @Html.ActionLink("User", "Index", "Users")
                            </li>


                        </ul>
                    </nav>
                </div>

            </div>

        </div>
    </header>
    <!-- Header Section End -->
    <div class="container">
        <div class="row">

            @RenderBody()
        </div>
        </div>
        <!-- Footer Section Begin -->
        <footer class="footer spad">
            <div class="container">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer__copyright">
                            <div class="footer__copyright__text">
                                <p>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;
                                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </p>
                            </div>
                            <div class="footer__copyright__payment"><img src="Content/img/payment-item.png" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Section End -->
        <!-- Js Plugins -->

        @Scripts.Render("~/Content/js/jquery-3.3.1.min.js")
        @Scripts.Render("~/Content/js/bootstrap.min.js")
        @Scripts.Render("~/Content/js/jquery.nice-select.min.js")
        @Scripts.Render("~/Content/js/jquery-ui.min.js")
        @Scripts.Render("~/Content/js/jquery.slicknav.js")
        @Scripts.Render("~/Content/js/mixitup.min.js")
        @Scripts.Render("~/Content/js/owl.carousel.min.js")
        @Scripts.Render("~/Content/js/main.js")

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
