@model GrosHub.Models.Order

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderAmt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderAmt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActualPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActualPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscountPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryCharge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryCharge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpectedDeliveryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpectedDeliveryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CancelReason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CancelReason)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
